.res-img {
  margin-left: 100px;
  height: auto;
}
.abt-content {
  display: flex;
  padding: 10px;
  gap: 25px;
}
p {
  color: rgb(148, 144, 144);
  font-size: 17px;
  /* text-align: left;
  text-align-last: left;
  margin-right: 150px;
  margin-top: 65px; */
}
h3 {
  margin-left: 250px;
}
