.img {
  background: rgb(58, 23, 55);
}
.image {
  height: auto;
  width: 450px;
  align-items: left;
  padding: 50px;
  justify-content: space-evenly;
  margin-top: 75px;
  margin-left: 50px;
  /* grid-template-areas: "1 2 3"; */
}
h3 {
  color: white;
  font-size: 35px;
  padding: 20px;
  margin-left: 200px;
}
