* {
  text-decoration: none;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  background: rgb(58, 23, 55);
  height: 100vh;
}

.navlist {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 70px;
  background: rgb(244, 146, 219);

  padding: 10px;
  list-style-type: none;
}
.navlist-item {
  cursor: pointer;
  color: rgb(26, 1, 26);
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}
